/*
google homepage style sheet
*/
body{
    background-color:fff;
}

.main-page{
    text-align:center;
    width:600px;
    margin:0 auto;
} 

.form .form-input{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-bottom:2px solid #ccc;
}